$dark: #343a40;

@mixin abs-center {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@mixin tn-2 {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

@mixin style_white{
  color: white;
  border: 2px solid white;
}

.style_white{
  @include style_white;
}

.content_center{
  @include abs-center;
  top: 30%;
  max-width: 400px;
  overflow: auto;
  max-height: 55vh;
}

button.log_screen{
  @include tn-2;
  @include style_white;
  border-radius: 20px;
  font-weight: 700;
  &:hover{
    color: $dark;
    background: white;
  }
}

button.eventAction{
  @include tn-2;
  @include style_white;
  padding: 5px 10px;
  background: transparent;
  border-radius: 20px;
  font-weight: 700;
  &:hover{
    color: $dark;
    background: white;
  }
  &:focus{
    color: $dark;
    background: white; 
  }
}
.chosen{
  color: $dark !important;
  background: white !important;
}

.bot-0{
  bottom:0 !important;
}

.screen{
  height: 100vh;
  display: flex;
}

.hidden{
  display: none;
}

.user_icon{
  height: 8vmin;
  min-height: 40px;
  max-height: 85px;
}

.detail_icon{
  height: 40px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.menu_btn{
  background: transparent;
  border:none;
  border-radius: 40px;
  &:focus{
    outline: none;
  }
  .menu_item{
    @include style_white;
    border-radius: 40px;
    &:hover{
      cursor: pointer;
      img.settings_img{
        animation: rotate 4s linear infinite;
        -webkit-animation: rotate 4s linear infinite;
      }
    }
  }
}

@keyframes rotate{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}